@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v11-latin-regular.woff2") format("woff2"), 
        url("../fonts/public-sans-v11-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/public-sans-v11-latin-700.woff2") format("woff2"), 
        url("../fonts/public-sans-v11-latin-700.woff") format("woff"); 
}

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dm-serif-display-v9-latin-regular.woff2") format("woff2"),
        url("../fonts/dm-serif-display-v9-latin-regular.woff") format("woff"); 
}